@{
    ViewData["Title"] = "Access Denied";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6 text-center">
            <h1 class="display-4">Access Denied</h1>
            <p class="lead">You do not have permission to access this resource.</p>
            <hr class="my-4">
            <p>Please login with an account that has the required permissions.</p>
            <a href="@Url.Action("Index", "Login")" class="btn btn-primary">Return to Login</a>
        </div>
    </div>
</div>